<nav class="bg-gray-800">
    <div class="mx-auto container px-4">
      <div class="relative flex h-20 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="sm:ml-6 sm:block w-full">
            <div class="flex items-center justify-between">
              <a href="/" class="px-3 py-2 text-sm font-medium text-white">PICKABOOK</a>
            <div class="flex space-x-4">
              <a href="#" class="rounded-md hover:bg-gray-700 hover:text-white px-3 py-2 text-sm font-medium text-gray-300">Dashboard</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  